@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f7fa;
  --foreground: #264653;
  --basecolor: #D9D9D9;
  --foreground-light: #2e5461;
  --foreground-light-text: #ffffff;
  --animal-card-info : rgb(217, 217, 217, 0.6)
}

body {
  background: #f5f7fa;
}

.serviceGrid {
  grid-template-areas: "serviceOne" "serviceTwo" "serviceThree" "serviceFour";

}

@media (min-width: 1280px) {
  .serviceGrid {
    grid-template-areas: "serviceOne Image serviceTwo" "serviceThree Image serviceFour";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.transformCustom {
  transform: translate(-50%, -50%);
}

.serviceBox:nth-child(1) {grid-area: serviceOne;}
.serviceBox:nth-child(2) {grid-area: serviceTwo;}
.serviceBox:nth-child(3) {grid-area: serviceThree;}
.serviceBox:nth-child(4) {grid-area: serviceFour;}
.serviceImage {grid-area: Image;}

.previewArticle {
  display: grid;
  grid-template:
        "image" 150px
        "content" min-content;
}

.previewArticleSearch {
  display: grid;
  grid-template-areas: "image content";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: 14rem;
}

.previewImage {
  grid-area: image;
}

.previewContent {
  grid-area: content;
}

.swiper-pagination-bullet-active {
  background-color: var(--foreground) !important;
}

.swiper {
  position: relative !important;
  padding-bottom: 40px !important;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
}

.animalSlide {
  display: flex !important;
  justify-content: center !important;
}

.articleBody p {
 margin-top: 1rem;
}

.articleBody h3 {
  margin-bottom: 1rem;
  font-size: 20px;
}